
<ion-view title="MapTrafic Police Ticketing Systems">
  <ion-content class="has-header padding scroll">
	<div class="list">
		<form name="myForm">
			
			<item class="item item-icon-left"><i class="icon ion-chatbubble-working"></i>
			<label class="item item-input">
				<textarea ng-model="description" placeholder="Enter Description" name="posttext" rows="4"></textarea>
			</label>
			</item>
			<div class="item">
				<button class="button button-block button-positive icon-left ion-ios7-camera" ng-click="take_picture()">Take Picture</button>
			</div>
			<div class="padding">
				<button class="button button-block button-positive icon-right ion-chevron-right" ng-click="upload_picture()">Submit</button>
			</div>
			<img  width="50%" height="50%" id="myImage">      
       		</div>
		</form>
	</div>
  </ion-content>
</ion-view>
